@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #7F5283;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flow-root;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
    display: flex;
    padding: 10px;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 110%;
  max-width: 500px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

h2 {
  color: #9b59b6;
  text-align: center;
  margin: 5px;
}

.subtext {
  color: #000000;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #9b59b6;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  box-sizing: border-box;
}

.form-group input::placeholder,
.form-group select::placeholder {
  color: #9b59b6;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row.horizontal {
  flex-direction: row;
}

.form-row .form-group {
  flex: 1;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #9b59b6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #8e44ad;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  color: #9b59b6;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

#custom-gender-container {
  display: none;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

#custom-gender-container.active {
  display: block;
  max-height: 200px;
}

@media (min-width: 601px) {
  .form-row.horizontal {
    flex-direction: row;
  }
}
